.item
{
    min-width:280px;
    height: 300px;
    background-color: #8D99C8;
    margin:10px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    display:inline-block;
}





.item div
{

    width: 225px;
    height: 50%;   
    float: left;
}
.item2
{
    min-width:280px;
    height:195px;
    background-color: #8D99C8;
    margin:10px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    display:inline-block;
    
}





.item2 div
{

    width: 225px;
    height: 50%;   
    float: left;
     
}




.item table
{
    width: 100%;
   
}

#wrapper
{
    max-width: 1231px;
}


.item img
{
    width: 280px;
    height: 100%;
    margin-bottom:30%;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
}


#Imgtest{
   width: 280px;
    height: 160px;
    padding-left:10px;
    padding-right:10px;
    padding-top:7px;
}
#btnvinkje{
    float:right;
}

#groep{
    width:158px;
}

#name{
    width:130px;
}

#planttitel{
 margin-left:10px;
 margin-top:3px;
}

#catatitel{
    background-color:#5175b3;
    width:280px;
    height:25px;
    border-width:0px;
    border-style:solid;
  
    
}

