h1 
{
    margin-left: -15px;
}
#wrapper
{
    max-width: 1231px;
}

#addPlantMenu
{
    clear: both;
    display: block;
    width: 260px;
    height: 225px;
    float: right;
    margin-bottom: 15px;
}

#rightmenu
{
    clear: both;
    min-height: 300px;
}

#maincontent
{
    padding-left: 15px;
}

.item2
{
    position:relative;
    width:280px;
    height:195px;
    margin: 15px 15px 15px 15px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    display:inline-block;
}

.item2 div
{
    width: 100%;
    height: 50%;   
    float: left;
}

.item2 span
{
    display: inline-block;
}


#Imgtest
{
    display: block;
    max-width: 280px;
    max-height: 160px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#Imgtest:hover
{
    box-shadow: 0px 0px 0px 2px  ;
     opacity: 0.4;
     
}

#btnvinkje
{
    position: absolute;
    float:right;
    right: 0px;
    top: 0px;
}

#groep
{
    width:158px;
}

#name
{
    width:130px;
}

#planttitel
{
    margin-left:10px;
    margin-top:3px;
}

#catatitel
{
    background-color:#C0C0C0;
    width:280px;
    height:25px;
    border-width:0px;
    border-style:solid;    
}

#imageButton
{
    position: absolute;
    bottom: 2px;
}

#cataloguscat{
    height:50px;
    width:100%;
    background-color:#5175b3;
    margin-top:-40px;
}

#cattitel
{
    padding-top:5px;
}

h1
{
    padding-top:6px;
    width:100%;
}

#catatabel{
    width:80%;
}

td:hover{
    background-color:#8D99C8;
}