.contact
{
    border-radius:5px;
}

.contact_content
{
    min-width:400px;
    min-height:200px;
}

.contact_minWidth
{
    min-width:300px;
}

#btn1
{
    width:150px;
    height:35px;
    border-radius:10px;
    background-color:#5175b3;
    color:white;
}

#btn1:hover
{
    background-color:royalblue;
    color:white;
}