.contact
{
    border-radius:5px;
    width:300px;
    height:30px;
}

.contact_content
{
    min-width:900px;
    min-height:200px;
}

.contact_minWidth
{
    min-width:300px;
    width:400px;
}

#btn1
{
    width:150px;
    height:35px;
    border-radius:10px;
    background-color:#5175b3;
    color:white;
}

#btn1:hover
{
    background-color:royalblue;
    color:white;
}

#logo{
    width:160px;


}

#divlogo{
    border-width:2px;
    border-style:solid;
    border-color:black;
    position:absolute;
    margin-left:600px;
    height:203px;
    margin-top:-25px;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.75);

}

.contactitel{
    height:50px;
    width:110%;
    background-color:#5175b3;
    margin-top:-50px;
    margin-left:-10px;


}

.contactpadding{
    padding-top:6px;
}

h1{
    margin-top:-1.1%;
    width:102.1%;
    margin-left:-1.1%;
}

#captchatekst{
    height:40px;
    margin-top:-50px;
    padding-top:-20px;
    border-radius:4px;
}

#captcha{
    position:absolute;
    margin-left:160px;
    margin-top:-10px;
    height:40px;
    border-radius:4px;
}