
.ContentEditableOpen
{
    background-color: #EEECFF;
    border: solid 2px black;
}

.ContentTitle
{
    background-color: #E0DEF0;
    border: solid 2px black;
    margin-bottom: 4px;
}

.ContentEditable:hover
{
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px red;
}

.Editor
{
    position: relative;
    border: solid 2px black;
    width: 350px;
    padding: 5px;
    background-color: lightcoral;
    margin-bottom: 10px;    

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2316b+47,a50803+100 */
    background: #b2316b; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #b2316b 47%, #a50803 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #b2316b 47%,#a50803 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #b2316b 47%,#a50803 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2316b', endColorstr='#a50803',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.Editor button
{
    background-color: lightgray;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 0px 1px 1px black;
    margin-left: 5px;
    border:none;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0d3cb+18,d0d3cb+51,dfe5d7+81,949b8f+100 */
    background: #d0d3cb; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #d0d3cb 18%, #d0d3cb 51%, #dfe5d7 81%, #949b8f 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #d0d3cb 18%,#d0d3cb 51%,#dfe5d7 81%,#949b8f 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #d0d3cb 18%,#d0d3cb 51%,#dfe5d7 81%,#949b8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d3cb', endColorstr='#949b8f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.Editor button:hover
{
    cursor: pointer;
    background-color: #BCBCBC;
}

.Editor button:active
{
    background-color: #787878;
}

.EditorBottomButton
{
    margin-top: 4px;
    margin-bottom: 8px;
    height: 28px;
}

#linkDiv
{
    width : 235px;
    height : 110px;
    background-color : white;
    position : absolute;
    top : -130px;
    left : 70px;
    box-shadow : 0px 0px 5px 3px black;  
}

#linkName
{
    margin-right : 0px;
    float : right;
    margin-top : 15px;
    margin-right : 5px;
}

#url
{
    margin-top : 12px;
    margin-right : 5px;
    float : right;
}

#linkText1
{
    margin-left : 5px;
}

#linkText2
{
    margin-left : 5px;
}

#linkSubmit
{
    position : absolute;
    right : 0px;
    top : 80px;
    margin-right : 5px;
}