
.ContentEditable:hover
{
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px red;
}

#Editor
{
    border: solid 1px black;
    width: 350px;
    padding: 5px;
    background-color: lightcoral;
    margin-bottom: 10px;    
}

#Editor button
{
    background-color: white;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 0px 1px 1px black;
    margin-left: 5px;
    border:none;
}

#Editor button:hover
{
    cursor: pointer;
    background-color: #BCBCBC;
}

#Editor button:active
{
    background-color: #787878;
}

#FileManager
{
    position: fixed;
    top: 2vh;
    left: 20%;
    background-color: bisque;
    min-width: 400px;
    width: 60vw;
    height: 90vh;
    box-shadow: 0px 0px 12px 4px black;
    z-index: 101;
    opacity: 1;
}

#FileManager #Files
{
    height: 75%;
    width: 100%;
    overflow-y: scroll;
    text-align: center; 
}

.fileManagerFolder
{
    width: 22%;
    height: 26%;
    min-height: 50px;
    min-width: 150px;
    display: inline-block;
    margin: 1%;
}

.fileManagerFile
{
    width: 22%;
    height: 26%;
    min-height: 50px;
    min-width: 150px;
    display: inline-block;
    margin: 1%;
}

.fileManagerEmpty
{
    width: 22%;
    height: 26%;
    min-height: 50px;
    min-width: 150px;
    display: inline-block;
    margin: 1%;
    visibility: hidden;
}


#FileManager #BottomInfo
{
    position: relative;
    background-color: lightcoral;
    height: 10%;
    width: 100%;
    box-shadow: 0px -2px 4px 0px black;
    
}

#FileManager #topInfo
{
    position: relative;
    background-color: burlywood;
    height: 15%;
    width: 100%;
    box-shadow: 0px 2px 4px 0px black;
    display: inline-block;
}

#leftArrow
{
    font-size: 50px;
    width: 50px;
    height: 100%;
    float: left;
    color: lightcoral;
}

#rightArrow
{
    height: 100%;
    font-size: 50px;
    width: 50px;
    float: left;
    color: lime;
}