/* google translate css */
#google_translate_element
{
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 10px;
    width: 150px;
    height: 50px;
    
}
div.goog-te-gadget-simple
{
    background-color: #a1c8e0 !important;
    height: 50px;
}

a.goog-te-menu-value > span
{
    color:black !important;
    border-radius:8px !important;
}

.goog-tooltip 
{
    display: none !important;
}
.goog-tooltip:hover 
{
    display: none !important;
}

.goog-text-highlight { 
    background: none !important;
    box-shadow: none !important;
}

.goog-te-banner-frame.skiptranslate
{
    display: none !important;
} 

body 
{
    top: 0px !important; 
}

.goog-logo-link 
{
    display:none !important;
} 

.goog-te-gadget
{
    color: transparent !important;
}

.notranslate 
{

}