/* google translate css */
#google_translate_element
{
    position: absolute;
    right: 20px;
    top: 0;
    width: 150px;
    height: 25px;
    border: 0;
}

div.goog-te-gadget-simple
{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    padding: 0;
    border-color: black;
    border-style: solid;
    border-width: 0 1px 1px 1px;
}

.goog-te-gadget
{
    height: 100%;
}

.goog-te-gadget-simple span
{
    position: relative;
    top: -5px;
    max-width: 100%;
    max-height: 100%;
}

.goog-te-gadget img
{
    display: none;
}

a.goog-te-menu-value > span
{
    color:black !important;
}

.goog-tooltip 
{
    display: none !important;
}

.goog-tooltip:hover 
{
    display: none !important;
}

.goog-text-highlight 
{ 
    background: none !important;
    box-shadow: none !important;
}

.goog-te-banner-frame.skiptranslate
{
    display: none !important;
} 

body 
{
    top: 0px !important; 
}

.goog-logo-link 
{
    display:none !important;
} 

.goog-te-gadget
{
    color: transparent !important;
}

.notranslate 
{

}