#editkader{
    align-content: center;
}

#maincontent{
    width: 100%;
}

table, th, td {
    border: black solid 1px ;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

input {
    max-width: 200px;
    min-width: 100px;
}
#loginkader{
    margin: auto;
}