#editkader{
    align-content: center;
}

#maincontent{
    width: 100%;
}

table, th, td {
    border: black solid 1px ;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

input {
    max-width: 200px;
    min-width: 100px;
}

#loginkader{
    margin: auto;
}

#voorwaarden{
    border-width:2px;
    border-color:red;
    border-style:solid;
    height:130px;
    width:200px;
    position:absolute;
    margin-left:800px;

}

#gebruikertoevoegen{
    align-content: center;
}

#gebruikertoevoegen:first-child {     
    font-weight: bold; 
}

#submit{
    margin-left:12%;
}

#usercancel{
    position:absolute;
    margin-left:30%;
    margin-top:1%;
}

#userconfirm{
    position:absolute;
    margin-left:40%;
    margin-top:1%;
}

#usertableconfirm{
    margin-left:37.5%;
}

#krijgt_mail1, #gebr_naam1,  #gebr_mail1, #rol1{
    background-color:lightgrey;
}

#loginkader{
    width:400px;
    border-width:3px;
    border-color:#C0C0C0;
    border-style:solid;
}

#logintitel
{
    background-color:#C0C0C0;
    height:50px;
    margin-top:0px;
}

#loginform
{
    padding-top:5px;
}