html, body{
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body
{
    background-color:#8D99C8;
    min-height: 100%;
    padding: 20px;
    padding-bottom: 60px;
    margin:0;
    position: relative;
    font-family: arial;
}

#wrapper
{
    margin: auto;
    max-width: 1231px;
    min-width: 750px;
    
    margin: 0 auto 0px;
    min-height: 100%;
}

#top
{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.75);
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    padding:0px;
}

#header
{
    height: 152px;
}

#topmenu
{
    height: 42px;
}

#topmenu ul
{
    background-color: #5175b3;
    width: auto;
    text-align: center;
    line-height: 40px; 
}

#topmenu ul li
{
    display: inline;
    padding-left: auto;
    padding-right: auto;
}

#topmenu ul li a
{
    font-size: 20px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

#topmenu ul li a:hover
{
    background-color: royalblue;
    color:white;
}

#mid
{
    margin-top: 20px;
    padding: 0px;
}

#maincontent
{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.75);
    width: auto;
    height: auto;
    margin-right: 260px;
    background-color:#d0e6fa;
    padding: 10px;
    margin-bottom: 10px;
}

#rightmenu
{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.75);
    width: 230px;
    float: right;
    height: auto;
    padding: 10px;
    margin-left: 10px;
    background-color:#ccccff;
}

#footer 
{
    position: relative;
    margin-top: 30px;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    background: #5175b3;
}

#footer, .push {
	height: 50px; /* .push must be the same height as .footer */
}

div.goog-te-gadget-simple
{
    border-radius:8px;
    background-color: #ccccff;
}

a.goog-te-menu-value > span
{
    color:black;
    border-radius:8px;
}

.goog-tooltip 
{
    display: none;
}
.goog-tooltip:hover 
{
    display: none;
}
.goog-text-highlight 
{
    background-color: transparent;
    border: none; 
    box-shadow: none;
}
.goog-te-banner-frame.skiptranslate 
{
    display: none;
}