html, body{
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 60px;
    margin:0;
    position: relative;
    font-family: arial;
    min-width: 1300px;
    background-color:#e1d4e8;
}

h1
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    height: 50px;
    width: 100%;
    margin: 0px;
    padding-top:6px;
    background-color:	#87a6bc; /* IE6-9 */
    color: #404040;
    border-bottom:solid black;
}

h2
{
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}

h3
{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

h4
{
    text-decoration: underline;
    margin: 0px;
}

h5
{
    margin: 0px;    
}

#wrapper
{
    margin: 0 auto;
    max-width: 1231px;
    min-height: 91vh;
}

#titlediv
{
    background-color:#F5F5DC;
    margin-top:40px;
    margin-left:0px;
    width:700px;
    height:75px;
    position:absolute;
    opacity: 0.7;
}

#imgtitle
{
    font-family: 'sans-serif';
    font-size:48px;
    margin-top:0px;
    padding-top:10px;
    margin-left:50px;
}

#top
{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.75);
    background-image: url('../Images/SiteImages/banner3.jpg');
    background-size: 1231px 220px;
    background-repeat: no-repeat;
    padding:0px;
    height: 209px;
}

#header
{
    height: 152px;
}

#topmenu
{
    height: 42px;
}

#topmenu ul
{
    background-color:rgba(120, 200, 230, 0.5);
    text-align: center;
    line-height: 40px; 
}

#topmenu ul li
{
    display: inline;
    padding-left: auto;
    padding-right: auto;
}

#topmenu ul li a
{
    font-size: 20px;
    color:black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 2px;
    padding: 11px 25px;
}

#topmenu ul li a:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color:black;   
}

#mid
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
}

.clearFix:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearFix:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearFix 
{ 
    display: inline-block;
}

* html .clearfix
{
    height: 1%;
}
.clearFix 
{
    display: block;
}

.WidthFix
{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

#maincontent
{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.75);
    width: auto;
    height: auto;
    background-color:#c8d7e1;
    margin-right: 270px;
}

#rightmenu
{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.75);
    width: 260px;
    float: right;
    height: auto;
    padding: 10px;
    margin-left: 10px;
    background-color:#a1c8e0;
    list-style-type: none;

}

#rightmenu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#footer 
{
    position: relative;
    padding: 1rem;
    background-color:rgba(120, 200, 230, 0.5);
    margin: 0 auto;
    max-width: 1231px;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.75);
    color: black;
}

/* google translate css */
div.goog-te-gadget-simple
{
    border-radius:8px !important;
    background-color: #a1c8e0 !important;
}

a.goog-te-menu-value > span
{
    color:black !important;
    border-radius:8px !important;
}

.goog-tooltip 
{
    display: none !important;
}
.goog-tooltip:hover 
{
    display: none !important;
}

.goog-text-highlight { 
    background: none !important;
    box-shadow: none !important;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
} 
body {
    top: 0px !important; 
}

.goog-logo-link {
    display:none !important;
} 

.goog-te-gadget{
    color: transparent !important;
}
.notranslate {

}

#loginkader{
    width:400px;
    border-width:3px;
    border-color:#C0C0C0;
    border-style:solid;
    padding-top:30px;

}

#logintitel
{
    background-color:#C0C0C0;
    height:30px;
    margin-top:0px;
}

#loggiforum
{
    padding-top:5px;
}

.icon-image-add
{
    content: url(../Images/Icons/Image-Add.svg);
}

#capthaerror
{
    border-width: 2px;
    border-style: dotted;
    border-color:black;
    width:60%;
    margin-left:20%;

}

#btn2
{
    margin-left: 32%;
}

.button-green 
{
    background-color: #4CAF50; /* groen */
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.button-red 
{
    background-color:  #f44336; /* rood*/
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width:25px;
}

.button-blue 
{
    background-color: #008CBA; /*blauw */
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.btnpricelist-green 
{
    background-color: #4CAF50; /* groen */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.btnpricelist-red 
{
    background-color:  #f44336; /* rood*/
    border: none;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.btnpricelist-blue 
{
    background-color: #008CBA; /*blauw */
    border: none;
    color: white;
    padding: 4px;
    width:25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.downPositioner
{
    height: 40px;
    width: 100%;
}
