html, body{
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body
{
    background-color:#8D99C8;
    min-height: 100%;
    padding: 20px;
    padding-bottom: 60px;
    margin:0;
    position: relative;
    font-family: arial;
    min-width: 750px;
}

#wrapper
{
    margin: 0 auto;
    max-width: 1231px;
    min-height: 100%;
}

#top
{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.75);
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    padding:0px;
}

#header
{
    height: 152px;
}

#topmenu
{
    height: 42px;
}

#topmenu ul
{
    background-color: #5175b3;
    width: auto;
    text-align: center;
    line-height: 40px; 
}

#topmenu ul li
{
    display: inline;
    padding-left: auto;
    padding-right: auto;
}

#topmenu ul li a
{
    font-size: 20px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

#topmenu ul li a:hover
{
    background-color: royalblue;
    color:white;
}

#mid
{
    margin-top: 20px;
    padding: 0px;
}

#maincontent
{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.75);
    width: auto;
    height: auto;
    margin-right: 270px;
    background-color:#d0e6fa;
    padding: 10px;
    margin-bottom: 10px;
}

#rightmenu
{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.75);
    width: 260px;
    float: right;
    height: auto;
    padding: 10px;
    margin-left: 10px;
    background-color:#ccccff;
}

#footer 
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: #5175b3;
    width: 100%;
}

/* google translate css */
div.goog-te-gadget-simple
{
    border-radius:8px !important;
    background-color: #ccccff !important;
}

a.goog-te-menu-value > span
{
    color:black !important;
    border-radius:8px !important;
}

.goog-tooltip 
{
    display: none !important;
}
.goog-tooltip:hover 
{
    display: none !important;
}

.goog-text-highlight { 
    background: none !important;
    box-shadow: none !important;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
} 
body {
    top: 0px !important; 
}

.goog-logo-link {
    display:none !important;
} 

.goog-te-gadget{
    color: transparent !important;
}