.pricelist, th, td
{
    border: 3px solid white;
    border-collapse: collapse;
    text-align: center;
    padding: 2px 2px 2px 2px;
}



.pricelist
{
    width: 100%;
}

input{
    width:100%;
    min-width: 30px;
}


h2{
    font-size: 20px;
    line-height: 20px;
    margin: 3px;
    padding-left: 4px;
}

.name
{
    /*width: 100px;*/
    background-color:#d0e6fa; 
    text-align: left;
}

.white
{
    /*width: 60px;*/
    background-color:#d0e6fa; 

}

.blue
{
    /*width: 60px;*/
    background-color: #a1c8e0; 
}

input
{
    float: left;
    display: inline-block;
    min-width: 38px;
}



#printbutton{
    float: right;
}


#wrapper
{
    width:1231px;  
}

#printable
{
    margin: 0px;
    padding: 0px;
}

#printheader {
    padding: 0px;
    /*display: none; */
    padding-right:0px;
    padding-bottom: 10px;
    margin-right:0px;
    width:100%;
}


@media print {
    .noprint{
        display:none;
    }
    
    .btnpricelist-green{
        display:none;
    }
    .btnpricelist-blue{
        display:none;
    }
    
    #printbutton{
       display:none;   
    }
    
    input {
        display: none;
    }
    
    #printheader {
        width:1080px;
    }
    
    #printheader{
        display: block;
    }
    
    .pricetable{
        width:1080px;
    }
    
    .pricelist{
        width:1080px;
        margin-left: 100px;
    }
    
    body{
        background-image: none;
    }
    
    
    
    h1{
        margin-bottom: 1px;
        width: 1080px;
        margin-left: 100px;
    }
}


