#editorPositioner
{
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.ContentEditableOpen
{
    background-color: #EEECFF;
    border: solid 2px black;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,d6d6d6+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #f6f6f6 47%, #d6d6d6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#f6f6f6 47%,#d6d6d6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffffff 0%,#f6f6f6 47%,#d6d6d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.ContentTitle
{
    background-color: #E0DEF0;
    border: solid 2px black;
    margin-bottom: 4px;
}

.ContentEditable:hover
{
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px red;
}

.Editor
{
    background-color: #2988BC;
    position: relative;
    border: solid 2px black;
    width: 410px;
    padding: 5px;    
    margin-bottom: 5px;
}

.Editor button
{
    background-color: #C9D1C8;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 0px 1px 1px black;
    margin-left: 5px;
    border:none;
}

.Editor button:hover
{
    cursor: pointer;
    background-color: #BCBCBC;
}

.Editor button:active
{
    background-color: #787878;
}

#underDiv
{
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
    line-height: 28px;
}

.EditorBottomSaveButton
{
    position: absolute;
    left: 25px;
    height: 28px; 
    border: none;
    width:50px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    background-color: #4CAF50; 
}

.EditorBottomCancelButton
{
    position: absolute;
    margin-left: 80px;
    height: 28px; 
    border: none;
    width:50px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    background-color: #008CBA;/*blauw */
}

.EditorBottomDeleteButton
{
    position: absolute;
    left: 134px;
    height: 28px; 
    border: none;
    width:50px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #f44336; 
}

#underDiv input
{
    position: absolute;
    margin: 0;
    left: 200px;
    top: 0px;
    width: 20px;
    vertical-align: middle;
    height: 28px;
}

#underDiv p
{
    position: absolute;
    margin: 0;
    left: 223px;
    width: 100px;
    display: inline-block;
    font-weight: bold;
}


/*LINK DIV*/
#linkDiv
{
    z-index : 2;
    width : 235px;
    height : 110px;
    background-color : white;
    position : absolute;
    top: -130px;
    left : 70px;
    box-shadow : 0px 0px 5px 3px black;  

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}

#linkName
{
    margin-right : 0px;
    float : right;
    margin-top : 15px;
    margin-right : 5px;
}

#url
{
    margin-top : 12px;
    margin-right : 5px;
    float : right;
}

#linkText1
{
    margin-left : 5px;
}

#linkText2
{
    margin-left : 5px;
}

#linkSubmit
{
    position : absolute;
    right : 0px;
    top : 80px;
    margin-right : 5px;
}

#linkCancel
{
    position: absolute;
    left: 0px;
    top: 80px;
    margin-left: 5px;
}

.imageDraggable:hover
{
    cursor: pointer;
}

img
{
    backface-visibility: hidden;
}

#imageEditDiv
{
    position: absolute;
    top: 0;
    right: 0;
    border: solid 2px black;
    width: 450px;
    padding: 5px;
    background-color: lightcoral;
    color: #E0DEF0;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a50803+0,b2316b+62 */
    background: #a50803; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #a50803 0%, #b2316b 62%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #a50803 0%,#b2316b 62%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #a50803 0%,#b2316b 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a50803', endColorstr='#b2316b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#imageEditDiv button
{
    background-color: lightgray;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 0px 1px 1px black;
    margin-left: 5px;
    border:none;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0d3cb+18,d0d3cb+51,dfe5d7+81,949b8f+100 */
    background: #d0d3cb; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #d0d3cb 18%, #d0d3cb 51%, #dfe5d7 81%, #949b8f 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #d0d3cb 18%,#d0d3cb 51%,#dfe5d7 81%,#949b8f 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #d0d3cb 18%,#d0d3cb 51%,#dfe5d7 81%,#949b8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d3cb', endColorstr='#949b8f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.selectedImage
{
    border: dotted 3px gray;
    border-radius: 10px;
}