
/*MAIN FileManager*/
#BackgroundColor
{
    background-color : Gray;
    opacity : 0.9;
    width : 100vw;
    height : 100vh;
    z-index : 1997;
    top : 0;
    left : 0;
    position : fixed;
}

#FileManager
{
    position: fixed;
    top: 2vh;
    left: 50px;
    background-color: bisque;
    min-width: 400px;
    width: 60vw;
    height: 90vh;
    box-shadow: 0px 0px 12px 4px black;
    z-index: 2001;
    opacity: 1;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.fileManagerButtons
{
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    background: #929394;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.fileManagerButtons:hover
{
    background: #afb6ba;
    text-decoration: none;
}

#Files
{
    height: 75%;
    width: 100%;
    overflow-y: scroll;
    text-align: center; 
}

.fileManagerFolder
{
    position: relative;
    height: 150px;
    width: 150px;
    margin: 1%;
    float: left;
}

.fileManagerFolder img
{
    position: absolute;
    bottom: 15px;
    width: 100%;
    max-height: 90%;
    display: block;
    left: 50%;
    margin-left: -75px;
    z-index: -1;
}

.fileManagerFolder p
{
    height: 10%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0px;
    z-index: -1;
}

.fileManagerFile
{
    position: relative;
    height: 150px;
    width: 150px;
    margin: 1%;
    float: left;
}

.fileBackground
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.fileManagerFile img
{
    position: absolute;
    bottom: 15px;
    width: 100%;
    max-height: 90%;
    display: block;
    left: 50%;
    margin-left: -75px;
    z-index: -1;
}

.fileManagerFile p
{
    height: 10%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0px;
    z-index: -1;
}

#FileManager #BottomInfo
{
    position: relative;
    background-color: lightcoral;
    height: 10%;
    width: 100%;
    box-shadow: 0px -2px 4px 0px black;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d3d3d3+0,c6c6c6+100 */
    background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #d3d3d3 0%, #c6c6c6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #d3d3d3 0%,#c6c6c6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #d3d3d3 0%,#c6c6c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#c6c6c6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

#FileManager #topInfo
{
    position: relative;
    height: 15%;
    width: 100%;
    box-shadow: 0px 2px 4px 0px black;
    display: inline-block;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e0e0+0,c6c6c6+100 */
    background: #e0e0e0; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #e0e0e0 0%, #c6c6c6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #e0e0e0 0%,#c6c6c6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #e0e0e0 0%,#c6c6c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#c6c6c6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.ArrowHistory
{
    font-size: 50px;
    width: 50px;
    float: left;
    cursor: pointer;
    color: #777777;
}

.ArrowHistory:hover
{
    color: #333377;
}

.ArrowHasHistory
{
    font-size: 50px;
    width: 50px;
    float: left;
    cursor: pointer;
    color: #555555;
}

.ArrowHasHistory:hover
{
    color: #333377;
}

#positionSetter
{
    position : absolute;
    left : 50%;
    top : 10px;
    width : 70%;
}

#pathSelectedBar
{

    position : relative;
    background-color : beige;
    min-width : 200px;
    height : 50px;
    box-shadow : 0px 0px 2px 0px black;
    left : -50%;
}

#cancelButton
{
    position : absolute;
    margin-left : 5px;
    border : none;
    bottom : 5px;
}

#fileManagerSelectButton
{
    position : absolute;
    margin-right : 5px;
    border : none;
    bottom : 5px;
    right : 5px;
}

/*SIDE Menu*/
#sideMenu
{
    position: fixed;
    top: 20%;
    right: 150px;
    background-color: bisque;
    min-width: 100px;
    width: 10vw;
    height: 60vh;
    box-shadow: 0px 0px 12px 4px black;
    z-index: 2001;
    opacity: 1;
    overflow: scroll;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#PushButton
{
    position: fixed;
    top: 30vh;
    right: 28vw;
    background-color: bisque;
    min-width: 50px;
    height: 10vh;
    box-shadow: 0px 0px 12px 4px black;
    z-index: 2001;
    opacity: 1;
    font-size: 50px;
    line-height: 10vh;
    text-align: center;
    text-shadow: 3px 3px 3px gray;
    cursor: pointer;
}

.selectedItem
{
    box-shadow: 0 0 3px 2px lightskyblue;
    border-radius: 3px;
    background-color: lightblue;
}

.imageDiv
{
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

.imageImg
{
    width: 100%;
}

.imageDeleteButton
{
    position: absolute;
    background-color: #F44336;
    top: 0;
    right: 0;
    z-index: 2001;
    width: 34px;
    height: 34px;
    color: white;
    text-align: center;
    line-height: 34px;
    border-bottom-left-radius: 6px;
    text-shadow: 0 0 5px black;
}

#contextDiv
{
    position: absolute;
    border: solid 1px black;
    box-shadow: 7px 7px 5px 0 gray;
    width: 150px;
    height: auto;
    background-color: whitesmoke;
    z-index: 4000;
}

#ContextDeleteButton
{
    text-align: center;
    width: 100%;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    border-top: solid 1px black;
}

#ContextDeleteButton:hover
{
    background-color: #CBC7CB;
}

#ContextCreateButton
{
    text-align: center;
    width: 100%;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}

#ContextCreateButton:hover
{
    background-color: #CBC7CB;
}

#createFolderDiv
{
    width: 175px;
    height: 75px;
    z-index: 4000;
    background-color: whitesmoke;
    border: solid 1px black;
    border-radius: 1px;
    box-shadow: 4px 4px 5px gray;
    text-align: center;
    font-size: 16px;
}

#contextFolderInput
{
    margin-top: 2px;
    width: 95%;
}

#contextFolderCancel
{
    position: absolute;
    bottom: 2px;
    left: 2px;
}

#folderSelectButton
{
    position: absolute;
    bottom: 2px;
    right: 2px;
}

#singleInputImageFile
{
    visibility: hidden;
}

#singleInputSelect
{
    position: absolute;
    border : none;
    bottom : 5px;
    right : 10px;
    cursor: pointer;
}

#uploadForm
{
    text-align:center;
}

#uploadFilePathURL
{
    position: absolute;
    visibility: hidden;
    margin: 0 auto;
}

#uploadFileInput
{
    position: absolute;
    left: 27%;    
    width: 46%;
    font-size: 15px;
    padding-right: 0;
    bottom: 5px;
    background-color: transparent;
}

#uploadFileSend
{
    position: absolute;
    border : none;
    bottom : 5px;
    right : 10px;
    cursor: pointer;
}