
#popupBackgroundDiv
{
    background-color: lightgray;
    position: absolute;
    width: 400px;
    height: 250px; 
    right: 0;
    top: 0;
    box-shadow: -5px 5px 22px 3px rgba(0,0,0,0.75);
    z-index: 120000
}

#popupTitleDiv
{
    position: relative;
    width: 100%;
    height: 35px;
    background-color: white;
}

#popupTitleText
{
    margin: 0;
    margin-left: 10px;
    line-height: 35px;
    font-size: 16px;
    font-weight: bold;
}

#popupInnerDiv
{
    position: relative;
    height: 215px;
    width: 100%;
    max-width: 100%;
    margin: 0;
    margin-left: 10px;
    line-height: 35px;
    font-size: 16px;
    color: #E1EDD8;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
}

#lineError
{
    position: absolute;
    top: 0;
    right: 10px;
}

#popupExtraInfo
{
    position: absolute;
    top: 0;
    right: 10px;
}

#popupInnerDiv span
{
    color: black;
    font-weight: bold;
}